RichbankServer/src/main/resources/xsd/request/QuerySerGroupRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://richbank.com.example.richbank/"
           xmlns="http://richbank.com.example.richbank/"
           elementFormDefault="qualified">

    <xs:element name="QuerySerGroup">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="TxSeq" type="xs:string"/>
                <xs:element name="WSID" type="xs:string"/>
                <xs:element name="Branch" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>